<div (dragover)="showDropzoneStyles()" (dragleave)="hideDropzoneStyles()" (drop)="handleDrop($event, canvas)" [ngClass]="{dragging: dropzoneStylesVisible}"
	class="well drop-zone">

	<div *ngIf="!file">
		<label class="btn-upload">
			<h3 class="">Drop your file here</h3>
			<h4 class="">or click here to get started</h4>
			<span class="sr-only">Select File</span>
			<input type="file" (change)="onChange($event)" style="display: none;"/>
		</label>
	</div>

	<div class="file-info" *ngIf="file && !parseErrors()">
		<div class="file-controls">
			<div class="file-name">
				<i class="fa fa-file"></i>
				<span>{{ file.name }}</span>
			</div>
			<button type="button" class="control remove" (click)="removeFile()">

			</button>
			<!--<button type="button" class="control replace">

			</button>-->
			<label class="control replace">
				<input type="file" (change)="onChange($event)" style="display: none;"/>
			</label>
		</div>

		<div class="file-header">
			<label>
				<span class="fa-stack fa-sm">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="check fa fa-check fa-stack-1x" [hidden]="!headerRow"></i>
				</span>
				<input type="checkbox" [(ngModel)]="headerRow" (ngModelChange)="parseFile()" style="display:none;">
				<span>My file contains a header row</span>
			</label>
		</div>

		<div class="records">
			{{ recordCount() }} records found
		</div>

		<button type="button" class="btn btn-primary" (click)="continue()">
			Continue
		</button>
	</div>

	<div class="file-error" *ngIf="file && parseErrors()">
		<h4 class="">Hmm... <br /> it looks like we need a little more information</h4>

		<div class="more-info">
			<label class="muted">
				What type of file is this?
			</label>
			<!--<select [(ngModel)]="fileFormat" (ngModelChange)="formatChange()">
				<option value="csv">Comma-Delimited (CSV)</option>
				<option value="tsv">Tab-Delimted</option>
				<option value="newline">One Column, One Record per Line</option>
			</select>-->
			<ng-select [items]="formats"
				(data)="setFormat($event)"
				placeholder="Choose one...">
			</ng-select>
		</div>

		<button class="btn btn-primary" (click)="parseFile()">
			Try Again
		</button>
	</div>

</div>