<ng-content></ng-content>
<div class="wl-wizard-controls" *ngIf="opts.controls">
	<button [ngClass]="opts.buttonClass" [style.visibility]="isOnFirstStep() ? 'hidden' : 'visible'" (click)="stepChange.emit(step - 1)">
        Previous
      </button> {{step}} / {{steps}}
	<button [ngClass]="opts.buttonClass" *ngIf="!isOnFinalStep()" (click)="stepChange.emit(step + 1)">
        Next
      </button>
	<button [ngClass]="opts.buttonClass" *ngIf="isOnFinalStep()" (click)="finish.emit(step + 1)">
        {{finishText}}
      </button>
</div>