$tablet-width: 768px;
$desktop-width: 960px;

$blue1: #45546c;
$blue2: #627d9e;
$blue3: #6680a0;
$blue4: #8193af;
$blue5: #9ca8bf;

$gray1: #adadad;
$gray2: #bcbcbc;
$gray3: #cbcaca;
$gray4: #dad9d9;
$gray5: #e5e5e6;