<header>
	<div class="container-fluid">
		<a class="logo" ui-sref="home">
			<img alt="Application Logo" src="assets/img/compass_logo_header.svg">
		</a>
	</div>
</header>
<main>
	<!--<router-outlet></router-outlet>-->
  <hasher></hasher>
</main>
<footer>
	<div class="fullheight flex-center">
		<div class="logo wl-logo">
			<img alt="Well & Lighthouse Logo" src="assets/img/wl-logo.svg">
		</div>
		<div class="logo compass-logo">
			<img alt="Compass Logo" src="assets/img/compass-logo-footer.svg">
		</div>
	</div>
</footer>