<wl-wizard [(step)]="step" (finish)="onFinish()" [(options)]="wizardOpts">
	<wl-wizard-step>
		<div>
			<h1 class="text-center">Get Started</h1>
			<div class="content">
				<uploader (stepComplete)="onStepComplete($event)"></uploader>
			</div>
			<section class="description">
				<div class="content">
					<p><strong>What is this?</strong> Magna elit ullamco irure id sint mollit sunt occaecat. Deserunt id non irure cillum sint
						ex adipisicing aliqua in cupidatat culpa pariatur pariatur aute. Tempor irure cupidatat et aliqua et eiusmod nisi amet
						voluptate dolore id labore. Enim occaecat anim proident reprehenderit pariatur tempor nulla proident laborum amet laborum
						tempor aute. Duis irure proident esse anim labore. Tempor mollit nisi nostrud ut sit proident reprehenderit eiusmod.
						Ad adipisicing do duis Lorem excepteur et veniam.</p>
				</div>
			</section>
		</div>
	</wl-wizard-step>
	<wl-wizard-step>
		<div>
			<h1 class="text-center">Output Options</h1>
			<div class="content">
				<div class="back" (click)="step = 1">
					<i class="fa fa-arrow-left"></i>
					<span>Go back</span>
				</div>
				<field-mapper *ngIf="step == 2" (stepComplete)="onStepComplete($event)"></field-mapper>
			</div>
		</div>
	</wl-wizard-step>
	<wl-wizard-step>
		<div>
			<h1 class="text-center">All done!</h1>
			<div class="content">
				<div class="back" (click)="step = step - 1">
					<i class="fa fa-arrow-left"></i>
					<span>Go back</span>
				</div>
				<div class="well">
					<p>Congratulations, the file has been exported successfully!</p>
					<button type="button" class="btn btn-primary" (click)="step = 1">
						Start Over
					</button>
				</div>
			</div>
		</div>
	</wl-wizard-step>
</wl-wizard>