@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
	    @content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
	    @content;
	}
}

.fullheight {
	height: 100%;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-grid {
	display: flex;
	flex-wrap: wrap;

	.flex-item {
		flex: 1 auto; //perhaps not needed
	}
}