.drop-zone {
	padding: 0;
	text-align: center;
	// border: dotted 3px lightgray;
}

// .nv-file-over, .dragging { border: dotted 3px red; }

.well {
    background: #FFF;
	color: #6680A0;
}

label.btn-upload {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 86px 20px 20px;
	background: url(~/assets/img/upload.svg) no-repeat;
	background-position: center 20px;
	background-size: 66px;

	text-transform: lowercase;
}

.file-info {
	padding: 20px;

	.file-controls {
		font-size: 0;
		width: 80%;
		margin: 0 auto;

		.file-name {
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 80px);
			border-width: 1px;
			border-style: solid;
			border-radius: 2px;
			padding: 4px;
			height: 30px;
			text-align: left;
			font-size: 1rem;
			line-height: 1.2;
			color: #000;
		}
		.control {
			display: inline-block;
			vertical-align: middle;
			width: 30px;
			height: 30px;
			margin: 0 0 0 10px;
			border: none;

			&.remove {
				background: url(~/assets/img/upload_delete_btn.svg);
			}
			&.replace {
				cursor: pointer;
				background: url(~/assets/img/upload_new_btn.svg);
			}
		}
	}
}

.file-error {
	padding: 20px;
}