/* You can add global styles to this file, and also import other style files */

@import 'styles/variables';
@import 'styles/utils';

html {
    font-size: 100%;
}

body {
    font-size: 1rem;
	background: #354259;
	color: #FFF;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: #03A9F4;
}


header {
	height: 70px;
	background: #45546C;

    & > div {
        height: 100%;
    }

    .logo {
        position: relative;
        width: 202px;
        top: 14px;
    }
}

footer {
	background: #262E40;
	height: 150px;
}

main {
    h1 {
        font-weight: 300;
        font-size: 3.75rem;
        line-height: 4.5rem;
    }

    .content {
        max-width: 80%;
        margin: 0 auto;

        .well {
            background: #FFF;
            border: 1px solid #F2F2F2;
            border-radius: 5px;

            p {
                color: $blue4;
            }
        }
    }

    uploader {
        label.btn-upload {
            h3, h4 {
                font-size: 1.1875rem;
                line-height: 1.8125rem;
                margin: 0;
            }
            h3 {
                margin-top: 20px;
                color: $blue3;
            }
            h4 {
                color: $blue4;
            }
        }

        .btn.btn-primary {
            margin-top: 20px;
        }

        .ui-select-container {
            display: inline-block;
            vertical-align: middle;
            margin-left: 1em;
            min-width: 250px;
            font-size: .8rem;

            input {
                border: 1px solid $gray4;
                color: $gray2;
            }

            .ui-select-match {
                border: 1px solid $gray4;
                color: $gray2;

                .ui-select-toggle {
                    color: $gray3;
                }
            }

            .btn {
                font-size: .8rem;
                padding-right: 2em;
            }
        }

        .file-info {
            .file-controls {
                .file-name {
                    border-color: $gray4;

                    i {
                        color: $gray4;
                    }
                }
            }

            .file-header {
                color: $gray2;
                font-size: 0.9375rem;
                text-transform: lowercase;

                label {
                    .fa-stack {
                        font-size: .6rem;
                    }
                    i:not(.check) {
                        color: $gray4;
                    }
                }
            }

            .records {
                color: $blue3;
            }
        }

        .file-error {
            padding: 20px;
        }
    }

    .back {
        margin: 10px 0;
        text-align: left;
        color: $blue3;
        text-transform: lowercase;
        cursor: pointer;
    }

    field-mapper {
        display: block;
        width: 100%;
        max-width: 100%;

        table {
            width: 100%;
            background: white;

            thead {
                tr {
                    background: $blue3;

                    th {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: .75rem;
                        line-height: 2.25rem;
                        letter-spacing: .01em;
                    }
                }
            }

            tbody {
                tr {
                    &.included {
                        .field-name {
                            color: #7b7c7d;
                        }
                        .field-sample {
                            color: $gray1;
                        }
                    }

                    td {
                        label {
                            color: #808080;
                            font-size: .5rem;

                            &.disabled {
                                opacity: .5;
                            }

                            .check {
                                color: $blue4;
                            }
                        }

                        .field-name {
                            color: $gray2;
                        }
                        .field-sample {
                            color: $gray3;
                        }
                    }
                }
            }
        }
    }
}

.btn {
    border: none;
    border-radius: 2px;
    text-transform: lowercase;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    letter-spacing: 0.01em;

    &.btn-primary {
        background-color: $blue3;
        color: #FFF;
    }
}