:host {
	text-align: left;
}

h1 {
	text-transform: lowercase;
}

wl-wizard {
	display: block;
	width: 100%;
	text-align: center;

	wl-wizard-step {
		display: inline-block;
		width: 100%;
		align-content: center;
		text-align: center;

		& > div {
			flex-grow: 1;
		}

		.content {
			display: inline-block;
			width: 550px;
		}

	}
}

field-mapper {
	display: inline-block;
	// max-width: 80%;
}


.description {
	// padding: 30px;
	background: #45546C;
	text-align: center;

	font-size: 17px;
	line-height: 27px;

	.content {
		text-align:justify;

		.learn-more {
			font-size: 15px;
			line-height: 25px;
			a {
				color: #9CA8BF;
				text-decoration: none;
			}
		}
	}
}